   #sign-up {
      position: fixed;
      display: block;
      right: 0;
      bottom: 570px;
      margin-right: 10px;
      margin-bottom: 40px;
      z-index: 900;
    }
	
	#log-in {
      position: fixed;
      display: block;
      right: 0;
      bottom: 570px;
      margin-right: 150px;
      margin-bottom: 40px;
      z-index: 900;
    }
	
	#home-page-button{
		position: fixed;
		display: block;
		left: -40px;
		bottom: 470px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
	
	}
	#schedule-a-trip-button{
		position: fixed;
		display: block;
		left: -60px;
		bottom: 310px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
	
	}
	
	#search-bar{
			position:fixed;
			right:25px;
		
		
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
			box-sizing: inherit;
	}

	.column {
		float: left;
		width: 33.3%;
		margin-bottom: 16px;
		padding: 0 8px;
	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 8px;
	}

	.about-section {
		padding: 50px;
		text-align: center;
		position:fixed;
		left:200px;
		
  
	}

	.container {
		padding: 0 16px;
	}

	.container::after, .row::after {
		content: "";
		clear: both;
		display: table;
	}

	.title {
		color: grey;
  
	}

	.button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: white;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 100%;
	}

	.button:hover {
		background-color: #555;
	}

	@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
	}
		
	body{
		background-image: url('../img/background2.jpeg');
		background-size: 100% 100%;
	}
	
	.members{
		position:fixed;
		top:320px;
		left:350px;
	
	}
	
	#contact-button{
		position:fixed;
		right:720px;
		top:635px;
	
	}
	
	#logo{
		position:relative;
		width:180px;
		height:90px;
		right:-4px;
		top:15px;
	
	}
	
	#view-all-trips-button{
		position: fixed;
		display: block;
		left: -98px;
		bottom: 100px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
		
	
	}